.App {
  text-align: center;
}


@font-face {
  font-family: 'AwesomeSerifItalic';
  src: url('../public/assets/fonts/Italic.ttf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AwesomeSerif';
  src: url('../public/assets/fonts/Var.ttf  ') format('opentype');
  font-weight: normal;
  font-style: normal;
}
